* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Navbar Section */

  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

.grow-list{
    flex-grow: 1;
    padding-left: 62px;
}

.list{
    display: flex;
    align-items: center;
    gap: 38px;
    font-size: 15px;
    color: #000406;
    font-weight: 500;
}

a{
    text-decoration: none;
}

.list li{
    cursor: pointer;
    list-style: none;
}

.list li:hover {
    font-size: 16px;
    color: #000406;
  }

.nav-button{
    padding: 14px 28px;
    background-color: #4040b4;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    align-items: center;
    text-align: center;
}

/* Main Section */

.banner-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

.heading-text {
    font-weight: 900;
    font-size: 42px;
    color: #240c64;
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
    line-height: 1.3em;
  }

  .heading-text span{
    color: #5955b3;
  }

  .description{
    font-size: 15px;
    font-weight: 500;
    color: grey;
    margin-top: 18px;
    margin-bottom: 60px;
  }

 .image img{
    height: 75vh;
    width: auto;
 } 